# Python
.venv/
venv/
__pycache__/

# .NET Build
bin/
obj/
**/bin/
**/obj/

# Executáveis e build outputs
*.dll
*.exe
*.pdb
*.cache
*.a

# Banco de dados local
*.sqlite
*.db

# Node
node_modules/

# IDE
.vscode/
*.suo
*.user
.vs/
