@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Background Colors */
  .bg-primary { background-color: #27374D; }
  .bg-secondary { background-color: #526D82; }
  .bg-accent { background-color: #9DB28F; }

  /* Text Colors */
  .text-primary { color: #27374D; }
  .text-light { color: #F1F1F1; }
  .text-accent { color: #9DB28F; }
}

/* css reset */
body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

@layer components{

  .header {
    @apply fixed top-0 left-0 bg-amber-100 h-16 w-full shadow-md flex-items-center px-6 justify-between;
  }

  .btn {
    @apply p-2 bg-secondary text-light rounded-md;
  }
}